body {
    background-color: aliceblue;
    margin-left: 100px;
    margin-top: 50px;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: deepskyblue;
}

.not-impl {
    
}